:host{
    display: flex;

    .search__input {
        background: #EFEFEF;
        padding: 5px;
        border: 0;
        margin-left: 10px;
        width: 400px;
        max-width: 100%;
    }
    .search__btn {
        padding: 5px 22px;
        border-radius: 0px 4px 4px 0px;
        border: 0;
        margin-right: 10px;
        background: #2F80ED;
        color: #ffffff;
        cursor: pointer;
    }
}