:host {
    margin-bottom: 30px;
    mat-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background: #E5E5E5;
        border-bottom-width: 5px;
        border-bottom-style: solid;
        img {
            width: 100%;
            height: auto; 
        }
        mat-card-header {
            flex-direction: column-reverse;
            ::ng-deep .mat-card-header-text {
                margin: 0;
                .mat-card-title {
                    margin-bottom: 0;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 23px;
                    text-align: right;
                    color: #4F4F4F;
                }
            }
        }
        mat-card-actions {
            display: flex;
            justify-content: center;
            padding-top: 40px;
            button {
                height: 32px;
                width: 120px;
                border-radius: 5px;
                border: 0;
                color: #ffffff;
                background: #2F80ED;
                cursor: pointer;
            }
        }
    }
    .search__statistic {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px 0;

        .statistic__param {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 10px;
            line-height: 12px;
            svg {
                margin-right: 3px;
            }
        }
    }
}