<header class="header">
    <app-header 
        (onChange)="getNewPosts($event)"
        (toggleSortingShow)="isShowSorting = !isShowSorting"></app-header>
    <app-sorting 
        *ngIf="isShowSorting" 
        (onSortingBy)="sortingParams[0] = $event"
        (onInputBy)="sortingParams[1] = $event"></app-sorting>
</header>
<main 
    class="main" 
    [style.height]="isShowSorting ? 'calc(100% - 130px)' : 'calc(100% - 80px)'">
    <!-- <app-search-results 
        [searchResults]="searchData | sorting"></app-search-results> -->
</main>
